.App {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.button {
  background-color: #faffff;
  border: none;
  color: "black";
  padding: 12px 30px;
  width: 115px;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}
